<div class="container"></div><div class="container-fluid"></div><div class="container">
  <br>
	<div class="row-fluid">
    <h1 class="pull-center"><strong>PopMusic</strong></h1>
    <p class="lead pull-center">If you've ever wanted to hear a song when you get specific location during a race, ride, walk or tour; you're not alone. This app is a proof of concept using the Soundcloud API to marry your playlists and favorite songs to spots on a map.</p>
	</div>	
  <br><br><br><br>
  