<div class="container"></div><div class="container-fluid"></div><div class="container">
  <br>
  <div class="row-fluid">
    <div class="span10 offsetHalf">
        
    <i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
    </div>
  </div>
   <br><br><br>
  <div class="row-fluid">
      <h1 class="pull-center"><strong>PopMusic</strong></h1>
      <p class="lead pull-center">Play your songs where you want them!</p>
  </div>  
  <br><br><br><br>
<%= link_to image_tag("btn-connect-sc-m.png") sc1_path %>

