<div class="container"></div><div class="container-fluid"></div><div class="container"><br>
	<div class="row-fluid">
	  <div class="span3 block block-sm">
	  	<h1> New Course </h1>
				<%= form_for @course do |f| %>
				<%= f.text_field :name %>
				<%= f.submit %>
				<% end %>
		</div>
	</div>
</div>